<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite Rule" stopProcessing="true">
                    <match url="^(.*)\.asp$" ignoreCase="true" />
	                <action type="Rewrite" url="/index.php?req={R:1}" appendQueryString="true" logRewrittenUrl="false" />
                </rule>
                <rule name="Block all PHP extension" stopProcessing="true">
                    <match url="^(.*)\.php$" />
                    <action type="Rewrite" url="/-" logRewrittenUrl="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
